body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f7f6;
    margin: 0;
    padding: 0;
    color: #333;
}

#contenu {
    max-width: 1100px; 
    
    margin-left: auto;
    margin-right: auto;
    
    padding: 20px;
    
    text-align: center; 
}

nav {
    text-align: center;
    padding: 20px;
    background-color: #f8f9fa;
    margin-bottom: 20px;
}

nav a {
    text-decoration: none;
    color: #002855;
    font-weight: bold;
    margin-right: 20px;
}

nav a:hover {
    color: #3498db;
}

h1 {
    color: #002855;
    border-bottom: 2px solid #3498db;
    padding-bottom: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    font-size: 0.8em;
    color: #777;
}